/****** Script for SelectTopNRows command from SSMS  ******/
SELECT TOP 1000 [BookingID]
      ,[CustomerFirstName]
      ,[CustomerSecondName]
      ,[QuantityofTickets]
      ,[TotalCost]
      ,[CurrencyCode]
      ,[CreditCardNo]
      ,[TicketID]
      ,[EmailAddress]
  FROM [C:\GAADB\GAA_GAMES.MDF].[dbo].[Bookings]